/* .card {
  margin-bottom: 20px;
  display: flex;
  float: left;
  width: 50%;
  text-align: center;
  vertical-align: auto;


 }

.img-container {
  padding: 0px;
}
.card {
  display: flex;
  flex-direction: column;
  align-content: stretch;
 
}

.card-img-top{
  padding: 0px;
  object-fit: fill;
  border-bottom: 2px solid #eee;
}

.card-a {
  padding: 0px;
} */