.img-container {
  padding: 0px;
}
.card-body {
  /* height: 300px; */
  /* display: flex; */
  /* flex-direction: column; */
  /* align-content: stretch; */
}

.card-img-top{
  padding: 0px;
  object-fit: fill;
  border-bottom: 2px solid #eee;
}

.card-a {
  padding: 0px;
}